body {
  font-family: 'Lora', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  padding: 2%;
  /* background: gainsboro;
  background: linear-gradient(45deg, white 0%, gainsboro 100%); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask19646%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(251%2c 244%2c 216%2c 1)'%3e%3c/rect%3e%3cpath d='M407.14 953.96a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM408.61 969.89a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM410.08 985.82a5.6 5.6 0 1 0 1.03 11.16 5.6 5.6 0 1 0-1.03-11.16zM411.55 1001.76a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM388.27 923.56a5.6 5.6 0 1 0 1.03 11.16 5.6 5.6 0 1 0-1.03-11.16zM389.74 939.5a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM391.21 955.43a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM392.68 971.36a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM369.4 893.17a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM370.87 909.1a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15zM372.34 925.03a5.6 5.6 0 1 0 1.03 11.16 5.6 5.6 0 1 0-1.03-11.16zM373.81 940.97a5.6 5.6 0 1 0 1.03 11.15 5.6 5.6 0 1 0-1.03-11.15z' stroke='rgba(191%2c 30%2c 6%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='568.32' height='568.32' clip-path='url(%26quot%3b%23SvgjsClipPath19647%26quot%3b)' x='15.69' y='584.57' fill='url(%23SvgjsPattern19648)' transform='rotate(118.13%2c 299.85%2c 868.73)'%3e%3c/rect%3e%3crect width='205.12' height='205.12' clip-path='url(%26quot%3b%23SvgjsClipPath19649%26quot%3b)' x='1356.97' y='101.92' fill='url(%23SvgjsPattern19650)' transform='rotate(312.35%2c 1459.53%2c 204.48)'%3e%3c/rect%3e%3cpath d='M2023.53 915.71 L2166.47 988.86L2194.6404579682153 852.6445420317849z' stroke='rgba(243%2c 166%2c 108%2c 1)' stroke-width='2.13' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M1356.62 820.4a5.6 5.6 0 1 0-11.14 1.2 5.6 5.6 0 1 0 11.14-1.2zM1340.71 822.11a5.6 5.6 0 1 0-11.14 1.21 5.6 5.6 0 1 0 11.14-1.21zM1324.8 823.83a5.6 5.6 0 1 0-11.13 1.2 5.6 5.6 0 1 0 11.13-1.2zM1308.9 825.55a5.6 5.6 0 1 0-11.14 1.2 5.6 5.6 0 1 0 11.14-1.2zM1386.72 801.06a5.6 5.6 0 1 0-11.14 1.2 5.6 5.6 0 1 0 11.14-1.2zM1370.81 802.77a5.6 5.6 0 1 0-11.14 1.2 5.6 5.6 0 1 0 11.14-1.2zM1354.9 804.49a5.6 5.6 0 1 0-11.13 1.2 5.6 5.6 0 1 0 11.13-1.2zM1338.99 806.21a5.6 5.6 0 1 0-11.13 1.2 5.6 5.6 0 1 0 11.13-1.2z' fill='rgba(191%2c 30%2c 6%2c 1)'%3e%3c/path%3e%3ccircle r='90' cx='1853.16' cy='524.85' stroke='rgba(243%2c 166%2c 108%2c 1)' stroke-width='2.74' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3cpath d='M440.27 496.21a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM449.52 509.26a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM458.78 522.31a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM468.04 535.36a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM408.7 479.37a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM417.96 492.42a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM427.22 505.47a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14zM436.47 518.52a5.6 5.6 0 1 0 6.48 9.14 5.6 5.6 0 1 0-6.48-9.14z' stroke='rgba(241%2c 99%2c 52%2c 1)' stroke-width='2.68' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3ccircle r='90' cx='467.33' cy='85.93' fill='rgba(243%2c 166%2c 108%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask19646'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='7.68' height='7.68' patternUnits='userSpaceOnUse' id='SvgjsPattern19648'%3e%3cpath d='M3.84 1L3.84 6.68M1 3.84L6.68 3.84' stroke='rgba(241%2c 99%2c 52%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath19647'%3e%3ccircle r='142.08' cx='299.85' cy='868.73'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='205.12' height='12.82' patternUnits='userSpaceOnUse' id='SvgjsPattern19650'%3e%3crect width='205.12' height='6.41' x='0' y='0' fill='rgba(191%2c 30%2c 6%2c 1)'%3e%3c/rect%3e%3crect width='205.12' height='6.41' x='0' y='6.41' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath19649'%3e%3ccircle r='51.28' cx='1459.53' cy='204.48'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  min-height: 100vh;
}

@media (min-width: 1921px) {
  body {
    background-image: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
